POSTGRES_DB=<postgres db name>
POSTGRES_USER=<postgres db user>
POSTGRES_PASSWORD=<postgres db password>
POSTGRES_PORT=<postgres port>

CLIENT_ID=<strava api client id>
CLIENT_SECRET=<strava api client secret>
SUBSCRIPTION_ID=<strava subscription id>

JWT_SECRET=<jwt secret>

FRONTEND_WEB_URL=<frontend web url>
FRONTEND_MOBILE_URL=<frontend mobile url>